.spinner {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    animation: spin 1s linear infinite;
}

.sm {
    width: 16px;
    height: 16px;
}

.md {
    width: 24px;
    height: 24px;
}

.lg {
    width: 48px;
    height: 48px;
}

.circle {
    opacity: 0.25;
}

.path {
    opacity: 0.75;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}